@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DigitalCards';
    src: url("/public/fonts/DigitalCards-Demo.ttf");
}

#tsparticlesfullpage {
    font-family: "DigitalCards", sans-serif;
}
