@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DigitalCards';
    src: url("../../public/fonts/DigitalCards-Demo.ttf");
}

h1 {
    font-family: "DigitalCards", sans-serif;
}
